{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'pokedex/style.css' %}">
    <title>Pokedex - Detalhes</title>

</head>
<body>
    <div class="box_h1">
        <h1>Minha Pokedex</h1>
    </div>

    {% for pokemon in pokemons %}
    <div class="container">
        <form action=" {% url "pokedex:anterior_pokemon" pokemon.id %}" method="GET"> {% csrf_token %}
            <input type="submit" value="Voltar" class='btn_voltar' >
            </form>
        <div class="card">
            <img src="{{ pokemon.image }}" alt="{{ pokemon.name }}" class="imagen">
            
            <h2 class="nome_pokemon">{{ pokemon.name|capfirst }}</h2>
            
            <p class="id_pokemon"><strong>ID:</strong> #{{ pokemon.id }}</p>
            
            <p class="tipo">
                {% for tipo in pokemon.types %}
                    <span class="tipo">{{ tipo|capfirst }} </span>{% if not forloop.last%} - {% endif %}
                {% endfor %}
            </p>

            <p class="altura"><strong >Altura:</strong> {{ pokemon.height }} Metros</p>
            <p class="peso"><strong>Peso:</strong> {{ pokemon.weight }} KG</p>
        </div>
        <form action=" {% url "pokedex:proximo_pokemon" pokemon.id %}" method="GET"> {% csrf_token %}
            <input type="submit" value="avançar" class='btn_avancar'>
    </div>
    <form action=" {% url "pokedex:ultimo_pokemon" pokemon.id %}" method="GET"> {% csrf_token %}
            <input type="submit" value="ultimo" class='btn_ultimo'>
            </form>
    {% empty %}
        <p style="text-align: center;">Nenhum Pokémon encontrado com esse ID.</p>
        
    {% endfor %}

</body>
</html>