body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    background-image: url('images/background.jpg');
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    width: 80%;
    height: 90%;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    width: 40%;
    background: linear-gradient(160deg, rgb(128, 194, 128), rgb(46, 92, 46));
    border: 5px solid #FF5733;
}
.nome_pokemon{
    font-size: 49px ;
    margin: 6px;
}
.id_pokemon{
    font-size: 17px ;
    margin: 9px;
    
}
.imagen{
    width: 100%;
    background-color: aqua;
    
}
.tipo{
    font-size: 26px ;
    background-color: #aca6a5;
    padding: 9px;
    border-radius: 10px;
}

.altura{
    font-size: 29px ;
}
.peso{
    font-size: 29px ;
}
.box_h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 60px;
    text-decoration: underline;
}

.btn_voltar{
    margin: 30px;
    background-color: #f70303;
    height: 25%;
    width: 80%;
    font-weight: bolder;
    font-size: large;
    color: #000000;
    border-radius: 10px;
}

.btn_ultimo{
    margin: 30px;
    background-color: #f70303;
    height: 25%;
    width: 80%;
    font-weight: bolder;
    font-size: large;
    color: #000000;
    border-radius: 10px;
}
.btn_avancar {
    margin: 30px;
    background-color: #f70303;
    height: 25%;
    width: 80%;
    font-weight: bolder;
    font-size: large;
    color: #000000;
    border-radius: 10px;
}

.form_ultimo{
    display: flex;
    align-items: start;
}

form{
    display: flex;
    align-items: center;
    height: 50%;
}